<launch>
  <arg name="file1" default="/training/retarget/data13D_PCA_100000_32_15.yml"/>
  <arg name="file2" default="/training/retarget/data23D_PCA_100000_32_15.yml"/>

  <param name="left_arm_training" value="$(arg file1)"/> 
  <param name="right_arm_training" value="$(arg file2)"/> 

  <node pkg="faceTracking" type="faceTrack" name="faceDetector" output="screen">
	<remap from="image" to="/rgb/image_raw"/>
  </node>

<!--  <node pkg="openni_camera" type="openni_node" name="kinect">
	  <param name="/image_mode" value="2"/>
  </node> -->


  <node pkg="rosbag" type="play" name="rosbag" args="--loop /home/mgb45/Desktop/2014-01-31-13-02-00.bag"/>

<!-- /home/mgb45/Desktop/2013-11-12-17-02-51.bag"/> -->


  <node pkg="handBlobTracker" type="handTracker" name="handTracker" output="screen">
	<remap from="/rgb/image_color" to="/rgb/image_raw"/>
  </node>

  <node pkg="mkfbodytracker" type="poseTracker" name="poseTracker" output="screen">
	<remap from="/rgb/image_color" to="/rgb/image_raw"/>
  </node>

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pfBodyTracker)/view.rviz"/>


</launch>
