<launch>
  <!-- Play video file using gscam -->
 
  <arg name="FILENAME" default="/opt/ChaLearn/validation1/Sample00410/"/>
  <arg name="SAVE" default="false"/>

  <arg name="file1" default="/data13D_PCA_250000_35_10.yml"/>
  <arg name="file2" default="/data23D_PCA_250000_35_10.yml"/>

  <param name="left_arm_training" value="$(arg file1)"/>
  <param name="right_arm_training" value="$(arg file2)"/>

  <node pkg="faceTracking" type="faceTrack" name="flow" output="screen">
	<remap from="image" to="/camera/image"/>
  </node>

   <node pkg="handBlobTracker" type="handTracker" name="handTracker" output="screen">
	<remap from="/rgb/image_color" to="/camera/image"/>
  </node>

  <node pkg="mkfbodytracker_pdaf" type="poseTracker" name="poseTracker" output="screen">
	<remap from="/rgb/image_raw" to="/camera/image"/>
  </node>
  
  <group if="$(arg SAVE)">
    <node pkg="rosbag" type="record" name="rosbag_record" args="-o $(arg FILENAME)/Sample /correctedFaceHandPose /tf"/>
  </group>

  <node pkg="mkfbodytracker_pdaf" type="image_sequence_publisher.py" name="image_seq" output="screen" required="true">
	<param name="image_dir" value="$(arg FILENAME)"/>
	<param name="file_pattern" value="*.jpg"/>
        <param name="camera_info_file" value="/home/mgb45/Documents/ros_workspace/mkfbodytracker/cal.yml"/>
        <param name="frequency" value="20"/>
  </node>

<!--  <node pkg="image_view" type="image_view" name ="im2">
	<remap from="image" to ="probImage"/>
  </node>

 <node pkg="image_view" type="image_view" name ="im4">
        <remap from="image" to ="poseImage"/>
  </node> -->

</launch>
